apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: django-todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-container
        image: docker.io/pat97/todo_app:latest  # ایمیج پرایوت خودت
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        envFrom:
        - configMapRef:
            name: todo-configmap
        - secretRef:
            name: todo-app-secret
      imagePullSecrets:
      - name: todo-app-secret
